@charset "utf-8";

body {
	
	background-color: aliceblue; 
}

img {
	width: 200px;
}



img:hover {
	border: dotted white 10px;
	border-radius: 70%;
	width: 300px;
}

hl {
	color: black;
	text-decoration: underline;
	font-family: "Courier New", monospace;
}

h2 {
	display: block;
  padding: 8px 16px;
	text-color: black;
	list-style-type: none;
	font-family:"Courier New", monospace;
	background-color: slategray;
}
ul {
  background-color: slategray;
	text-color: black;
	list-style-type: none;
	font-family:"Courier New", monospace;
  margin: 0;
  padding: 0;
	  overflow: hidden;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
